.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 20px;
    color: black;
}

body {
    background-size: cover;
}

.div_speed {
    float: left;
}

.div_volume {
    float: right;
}

.speed_img {
    width: 200px;
    border-radius: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.volume_img {
    width: 200px;
    border-radius: 100px;

}

#speed,
#volume {
    font-size: 25px;
    margin: 15px;
}
.play_button{
width: 200px;
font-size: 25px;
}
canvas{
border-radius: 20px;
border: 5px solid white;
margin-top: 50px;
}